@import 'utils/variables';
@import 'components/type';

// fonts install
@font-face {
    font-family: 'Header font';
    src: url(../assets/fonts/ringbearer-font/RingbearerMedium-51mgZ.ttf);
}

@font-face {
    font-family: 'forum';
    src: url(../assets/fonts/Forum/Forum-Regular.ttf);
}

@font-face {
    font-family: 'work sans';
    src: url(../assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
}

// avatar
.avatar{
    &-left{
        width: 100%;
        height: 100%;
        background-image: url(../assets/images/gandalf-left.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: none;
        
        // text indent
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
      }
    &-right{
        width: 100%;
        height: 100%;
        background-image: url(../assets/images/gandalf-right.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        
        // text indent
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
      }
}

// bat
.bat{
    background-image: url(../assets/images/bats.png);
}

/////////////////////////////////////////////////////////          HEADER          ////////////////////////////////////////////////////////
.header{
    background-color: $backgroundColor-header;

    // content
    &__title{
        text-align: center;
        margin-bottom: $mt-25px;
    }

    &__slogan{
        text-align: center;
    }

    // avatar header
    &__avatar{
        width: 10vh;
        height: 15vh;
        position: absolute;
        z-index: 100;
        background-image: url(../assets/images/gandalf-right.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        top: 80vh;
        right: calc(50vw - 5vh);
        display: none;

        // text indent
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    // avatar texts
    &__avatar-text-center{
        bottom: 21vh;
        left: 50vw;
        border-bottom-left-radius: 0;
    }
    &__avatar-text-right{
        bottom: 71vh;
        right: 20vh;
        border-bottom-right-radius: 0;
    }

    // platform
    .platform-right{
        background-image: url(../assets/images/plateforme_right.png);
    }

    // parallax
    &__parallax{

        &__layer--front{
            background-image: url(../assets/images/mobile/parallax_front.png);
            z-index: 40;
        }
        &__layer--middle-1{
            background-image: url(../assets/images/mobile/parallax_middle_1_rouge.png);
            z-index: 30;
        }
        &__layer--middle-2{
            background-image: url(../assets/images/mobile/parallax_middle_2_rouge.png);
            z-index: 20;
        }
        &__layer--back{
            background-image: url(../assets/images/mobile/parallax_back_rouge.png);
            z-index: 10;
        }
    }
}

@media only screen and (min-width: 700px){
    .header{

        // content
        &__title{
            margin-bottom: $mt-28px;
            font-size: $fs-h1;
        }

        &__slogan{
            font-size: $fs-h3;
        }

        // parallax
        &__parallax{

            &__layer--front{
                background-image: url(../assets/images/parallax_front.png);
                z-index: 40;
            }
            &__layer--middle-1{
                background-image: url(../assets/images/prallax_middle_1_rouge.png);
                z-index: 30;
            }
            &__layer--middle-2{
                background-image: url(../assets/images/prallax_middle_2_rouge.png);
                z-index: 20;
            }
            &__layer--back{
                background-image: url(../assets/images/parallax_back_rouge.png);
                z-index: 10;
            }
        }
        }
}

/////////////////////////////////////////////////////////          PRESENTATION          ////////////////////////////////////////////////////////
.présentation{
    background-color: $backgroundColor-presentation;
    position: relative;
    text-shadow: 0px 0px 5px black;

    // content
    .content{
        bottom: 35vh;
    }
    &__title{
        margin-bottom: $mt-25px;
    }

    // avatar text
    &__avatar-text-left{
        bottom: 71vh;
        left: 20vh;
        border-bottom-left-radius: 0;
    }

    // platform
    .platform-left{
        background-image: url(../assets/images/plateforme.png);
    }

    // parallax
    &__parallax{

        &__layer--front{
            background-image: url(../assets/images/mobile/parallax_front.png);
            z-index: 40;
        }
        &__layer--middle-1{
            background-image: url(../assets/images/mobile/parallax_middle_1_bleu.png);
            z-index: 30;
        }
        &__layer--middle-2{
            background-image: url(../assets/images/mobile/parallax_middle_2_bleu.png);
            z-index: 20;
        }
        &__layer--back{
            background-image: url(../assets/images/mobile/parallax_back_bleu.png);
            z-index: 10;
        }
    }
}

@media only screen and (min-width: 700px){
    .présentation{
        
        // content
        .content{
            bottom: 40vh;
            width: 70%;
            max-width: 700px;
        }

        &__title{
            margin-bottom: $mt-28px;
            font-size: $fs-h2;
        }

        &__text{
            max-height: auto;
            overflow: none;
        }

        p{
            font-size: $fs-p;
            margin-bottom: $mt-20px;
        }
        // parallax
        &__parallax{

            &__layer--front{
                background-image: url(../assets/images/parallax_front.png);
                z-index: 40;
            }
            &__layer--middle-1{
                background-image: url(../assets/images/prallax_middle_1_bleu.png);
                z-index: 30;
            }
            &__layer--middle-2{
                background-image: url(../assets/images/prallax_middle_2_bleu.png);
                z-index: 20;
            }
            &__layer--back{
                background-image: url(../assets/images/parallax_back_bleu.png);
                z-index: 10;
            }
        }
    }
}

@media only screen and (min-width: 1200px){
    .présentation{
        
        // content
        &__title{
            margin-bottom: $mt-56px;
            font-size: $fs-h2;
        }
    }    
}
/////////////////////////////////////////////////////////          COMPETENCES          ////////////////////////////////////////////////////////
.compétences{
    background-color: $backgroundColor-competences;

    // content
    .content{
        bottom: 30%;
    }
    .compétence{
        display: flex;
        align-items: center;
        margin-bottom: $mt-18px;

        &__logo{
            width: 15vw;
            height: 17vw;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }

        &__bats{
            display: flex;
        }

        @keyframes batAnim {
            0%{
              background-image: url(../assets/images/bats.png);
            }
            50%{
              background-image: url(../assets/images/bats.png);
            }
            51%{
              background-image: url(../assets/images/bats_2.png);
            }
            100%{
              background-image: url(../assets/images/bats_2.png);
            }
          }

        &:nth-child(1){
            .compétence__logo{
                background-image: url(../assets/images/logo_html.png);
                animation: htmlLogoAnim 0.3s infinite linear;

                  @keyframes htmlLogoAnim {
                    0%{
                      background-image: url(../assets/images/logo_html.png);
                    }
                    50%{
                      background-image: url(../assets/images/logo_html.png);
                    }
                    51%{
                      background-image: url(../assets/images/logo_html_2.png);
                    }
                    100%{
                      background-image: url(../assets/images/logo_html_2.png);
                    }
                  }
            }
        }
        &:nth-child(2){
            .compétence__logo{
                background-image: url(../assets/images/logo_css.png);
                animation: cssLogoAnim 0.3s infinite linear;

                @keyframes cssLogoAnim {
                    0%{
                        background-image: url(../assets/images/logo__css_2.png);
                    }
                    50%{
                        background-image: url(../assets/images/logo__css_2.png);
                    }
                    51%{
                        background-image: url(../assets/images/logo_css.png);
                    }
                    100%{
                        background-image: url(../assets/images/logo_css.png);
                    }
                  }
            }
        }
        &:nth-child(3){
            .compétence__logo{
                background-image: url(../assets/images/logo_js.png);
                animation: jsLogoAnim 0.3s infinite linear;

                @keyframes jsLogoAnim {
                    0%{
                      background-image: url(../assets/images/logo_js.png);
                    }
                    50%{
                      background-image: url(../assets/images/logo_js.png);
                    }
                    51%{
                      background-image: url(../assets/images/logo_js_2.png);
                    }
                    100%{
                      background-image: url(../assets/images/logo_js_2.png);
                    }
                  }
            }
        }
        &:nth-child(4){
            .compétence__logo{
                background-image: url(../assets/images/logo_illustrator.png);
                animation: illustratorLogoAnim 0.3s infinite linear;

                @keyframes illustratorLogoAnim {
                    0%{
                      background-image: url(../assets/images/logo_illustrator.png);
                    }
                    50%{
                      background-image: url(../assets/images/logo_illustrator.png);
                    }
                    51%{
                      background-image: url(../assets/images/logo_illustrator_2.png);
                    }
                    100%{
                      background-image: url(../assets/images/logo_illustrator_2.png);
                    }
                  }
            }
        }
        &:nth-child(5){
            .compétence__logo{
                background-image: url(../assets/images/logo_figma.png);
                animation: figmaLogoAnim 0.3s infinite linear;

                @keyframes figmaLogoAnim {
                    0%{
                      background-image: url(../assets/images/logo_figma.png);
                    }
                    50%{
                      background-image: url(../assets/images/logo_figma.png);
                    }
                    51%{
                      background-image: url(../assets/images/logo_figma_2.png);
                    }
                    100%{
                      background-image: url(../assets/images/logo_figma_2.png);
                    }
                  }
            }
        }
    }

    // avatar text
    &__avatar-text-right{
        bottom: 71vh;
        right: 20vh;
        border-bottom-right-radius: 0;
    }

    // platform
    .platform-right{
        background-image: url(../assets/images/plateforme_right.png);
    }

    // panneau
    .panneau{
        background-image: url(../assets/images/panneau_skills.png);
    }

    // parallax
    &__parallax{

        &__layer--front{
            background-image: url(../assets/images/mobile/parallax_front.png);
            z-index: 40;
        }
        &__layer--middle-1{
            background-image: url(../assets/images/mobile/parallax_middle_1_brun.png);
            z-index: 30;
        }
        &__layer--middle-2{
            background-image: url(../assets/images/mobile/parallax_middle_2_brun.png);
            z-index: 20;
        }
        &__layer--back{
            background-image: url(../assets/images/mobile/parallax_back_brun.png);
            z-index: 10;
        }
    }
}

@media only screen and (min-width: 700px){
    .compétences{
        // content
        .content{
            width: auto;
            max-width: 800px;
            display: inline-block;
        }
        .compétence{
            margin-bottom: $mt-20px;

            .bat {
                width: 85px;
                height: 54px;
              }
              
              .compétence__logo{
                width: 85px;
                height: 80px;
                background-size: 100% 100%;
                background-repeat: no-repeat;
              }
        }
        // parallax
        &__parallax{

            &__layer--front{
                background-image: url(../assets/images/parallax_front.png);
                z-index: 40;
            }
            &__layer--middle-1{
                background-image: url(../assets/images/prallax_middle_1_brun.png);
                z-index: 30;
            }
            &__layer--middle-2{
                background-image: url(../assets/images/prallax_middle_2_brun.png);
                z-index: 20;
            }
            &__layer--back{
                background-image: url(../assets/images/parallax_back_brun.png);
                z-index: 10;
            }
        }
        }
}

/////////////////////////////////////////////////////////          PROJETS          ////////////////////////////////////////////////////////
.projets{
    background-color: $backgroundColor-projets;   
    overflow: hidden;
    color: $backgroundColor-ground;

    // content
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        bottom: 30vh;
    }
    &__projet{
        &:nth-child(1){
            .projets__assets{
                a{
                    background-image: url(../assets/images/image_pdni.jpg);
                }
            }
        }
        &:nth-child(2){
            .projets__assets{
                a{
                    background-image: url(../assets/images/livre_rama.jpg);
                }
            }
        }
        &:nth-child(3){
            .projets__assets{
                a{
                    background-image: url(../assets/images/image_rux.png);
                }
            }
        }
    }
    &__description{
        margin-bottom: $mt-18px;
    }
    &__title{
        margin-bottom: $mt-25px;
    }
    &__text{
        p:nth-child(2){
            display: none;
        }
        p:nth-child(3){
            display: none;
        }
    }
    &__assets{
        width: 85vw;
        height: 50vw;
        margin: 0 auto;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0px 0px 0px 5px $borderColor;

        a{
        background-image: url(../assets/images/image_pdni.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        display: block;

        // text indent
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;

        &:hover{
            scale: 1.2;
            cursor: pointer;
            transition: 0.5s;
        }
    }
        
    }

    // avatar
    &__avatar{
        width: 10vh;
        height: 15vh;
        position: absolute;
        z-index: 100;
        background-image: url(../assets/images/gandalf-right.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        top: 80vh;
        right: calc(50vw - 5vh);
        opacity: 0;

        // text indent
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    // avatar text
    &__avatar-text-right{
        bottom: 71vh;
        right: 20vh;
        border-bottom-right-radius: 0;
    }

    // platform
    .platform-right{
        background-image: url(../assets/images/plateforme_right.png);
    }

    // projets link
    &__link{
        background-image: url(../assets/images/projets__porte.png);
        position: absolute;
        bottom: 5vh;
        right: 5vw;
        height: 20vh;
        width: 16vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        // text indent
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    // projets liste
    &__liste{
        width: 300vw;
        height: 100vh;
        background-image: url(../assets/images/mobile/background_projets.png);
        display: flex;
        transform: translateX(-200vw);
    }

    &__projet{
       width: 100vw;
       height: 100vh;
       background-size: 100vw 100vh;
       background-repeat: no-repeat;
       background-position: center;
       position: relative;

       &:nth-child(1){
           background-image: url(../assets/images/mobile/background_projets_decembre.png);
       }
       &:nth-child(2){
           background-image: url(../assets/images/mobile/background_projets_rux.png);
       }
       &:nth-child(3){
           background-image: url(../assets/images/mobile/background_projets_dataplay.png);
       }
       // panneau
        .panneau{
        background-image: url(../assets/images/panneau_projets.png);
        }
    }
}

@media only screen and (min-width: 700px){
    .projets{
        // projet content
        .content{
            max-width: 700px;
        }
        &__description{
            margin-bottom: $mt-20px;
        }
        &__title{
            margin-bottom: $mt-28px;
            font-size: $fs-h2;
        }
        &__text{
            p{
                font-size: $fs-p;
                margin-bottom: $mt-20px;
            }
            p:nth-child(2){
                display: block;
            }
            p:nth-child(3){
                display: block;
            }
        }
        &__assets{
            width: 500px;
            height: 300px;

            a{
                background-image: url(../assets/images/image-pdni@1.5x.jpg);
            }
        }

        &__liste{
            background-image: none;
        }

        &__projet{
            &:nth-child(1){
                background-image: url(../assets/images/tab/background_projets_1.png);
            }
            &:nth-child(2){
                background-image: url(../assets/images/tab/background_projets_2.png);
            }
            &:nth-child(3){
                background-image: url(../assets/images/tab/background_projets_3.png);
            }
        }
    }
}

@media only screen and (min-width: 1200px){
    .projets{
        // projet content
        .content{
            flex-direction: row;
            gap: $mt-20px;
            bottom: 30vh;
            width: 70vw;
            max-width: 1200px;
        }
        &__description{
            width: 40vw;
        }
        &__title{
            text-align: left;
        }
        &__assets{
            width: 30vw;
            height: 20vw;

            a{
                background-image: url(../assets/images/image_pdni@2x.jpg);
            }
        }

        &__liste{
            background-image: url(../assets/images/background_projets.png);
        }

        &__projet{
            &:nth-child(1){
                background-image: url(../assets/images/background_projets_1.png);
            }
            &:nth-child(2){
                background-image: url(../assets/images/background_projets_2.png);
            }
            &:nth-child(3){
                background-image: url(../assets/images/background_projets_3.png);
            }
        }
    }
}

/////////////////////////////////////////////////////////          CONTACT          ////////////////////////////////////////////////////////
.contact{
    background-color: $backgroundColor-contact;
    color: $backgroundColor-ground;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);

    // content
    .content{
        bottom: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        margin-bottom: $mt-25px;
    }

    &__text{
        p{
            text-align: center;
        }
    }
    &__link{
        display: inline-block;
        a{
            width: 15vh;
            height: 13vh;
            background-image: url(../assets/images/contact_bat_1.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            display: inline-block;
            cursor: pointer;
            animation: animBatContact 0.3s infinite linear;

            // text indent
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    // avatar text
    &__avatar-text-left{
        bottom: 71vh;
        left: 20vh;
        border-bottom-left-radius: 0;
    }

    // platform
    .platform-left{
        background-image: url(../assets/images/plateforme.png);
    }

    // parallax
    &__parallax{

        &__layer--front{
            background-image: url(../assets/images/mobile/parallax_front.png);
            z-index: 40;
        }
        &__layer--middle-1{
            background-image: url(../assets/images/mobile/parallax_middle_1_rose.png);
            z-index: 30;
        }
        &__layer--middle-2{
            background-image: url(../assets/images/mobile/parallax_middle_2_rose.png);
            z-index: 20;
        }
        &__layer--back{
            background-image: url(../assets/images/mobile/parallax_back_rose.png);
            z-index: 10;
        }
    }
}

@keyframes animBatContact {
    0%{
        background-image: url(../assets/images/contact_bat_1.png);
      }
      50%{
        background-image: url(../assets/images/contact_bat_1.png);
      }
      51%{
        background-image: url(../assets/images/contact_bat_2.png);
      }
      100%{
        background-image: url(../assets/images/contact_bat_2.png);
      }
}

@media only screen and (min-width: 700px){
    .contact{

        // content
        .content{
            width: 70vw;
            max-width: 700px;
            bottom: 35vh;
        }
        &__title{
            margin-bottom: $mt-28px;
            font-size: $fs-h2;
        }

        &__text{
            p{
                margin-bottom: $mt-20px;
                font-size: $fs-p;
            }
        }

        // parallax
        &__parallax{

            &__layer--front{
                background-image: url(../assets/images/parallax_front.png);
                z-index: 40;
            }
            &__layer--middle-1{
                background-image: url(../assets/images/parallax_middle_1_rose.png);
                z-index: 30;
            }
            &__layer--middle-2{
                background-image: url(../assets/images/prallax_middle_2_rose.png);
                z-index: 20;
            }
            &__layer--back{
                background-image: url(../assets/images/parallax_back_rose.png);
                z-index: 10;
            }
        }
        }
}

/////////////////////////////////////////////////////////          FOOTER          ////////////////////////////////////////////////////////
.footer{
    background-color: $backgroundColor-contact;

    // content
    .content{
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: 90;
        top: 0;
    }
    &__liste{
        position: absolute;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        top: 5vh;

        .footer__link{
            width: 30vw;
            height: 20vw;
            max-width: 200px;
            max-height: 130px;
            background-image: url(../assets/images/nuage.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        a{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
            &:active{
                font-weight: bold;
            }
        }
    }

    // avatar texts
    &__avatar-text-center{
        bottom: 21vh;
        right: 50vw;
        border-bottom-right-radius: 0;
        display: block;
    }

    // parallax
    &__parallax{

        &__layer--front{
            background-image: url(../assets/images/mobile/footer_front.png);
            z-index: 40;
            background-repeat: no-repeat;
        }
        &__layer--middle{
            background-image: url(../assets/images/mobile/footer_middle.png);
            z-index: 30;
            background-repeat: no-repeat;
        }
        &__layer--back{
            background-image: url(../assets/images/mobile/footer_back.png);
            z-index: 10;
            background-repeat: no-repeat;
        }
    }
}

@media only screen and (min-width: 700px){
    .footer{
        //content
        &__liste{    
            a{
                font-size: $fs-p;
            }
        }
    
        // parallax
        &__parallax{
            &__layer--front{
                background-image: url(../assets/images/tab/footer_front.png);
            }
            &__layer--middle{
                background-image: url(../assets/images/tab/footer_middle.png);
            }
            &__layer--back{
                background-image: url(../assets/images/tab/footer_back.png);
            }
        }
    }
}

@media only screen and (min-width: 1200px){
    .footer{
        // parallax
        &__parallax{
            &__layer--front{
                background-image: url(../assets/images/footer_front.png);
            }
            &__layer--middle{
                background-image: url(../assets/images/footer_middle.png);
            }
            &__layer--back{
                background-image: url(../assets/images/footer_back.png);
            }
        }
    }
}