// background color
$backgroundColor-header: #A34343;
$backgroundColor-contact: #FBE9E4;
$backgroundColor-competences: #D4C991;
$backgroundColor-presentation: #4373A5;
$backgroundColor-projets: #B78170;
$backgroundColor-ground: black;
$avatarTextColor: #585958;

// font color
$fontColor: #fff;

// border image color
$borderColor: #633A2E;

// fonts install
@font-face {
    font-family: 'Header font';
    src: url(../../assets/fonts/ringbearer-font/RingbearerMedium-51mgZ.ttf);
}

@font-face {
    font-family: 'forum';
    src: url(../../assets/fonts/Forum/Forum-Regular.ttf);
}

@font-face {
    font-family: 'work sans';
    src: url(../../assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
}

// fonts sizes
$fs-mobile-h1: 72px;
$fs-mobile-h2: 51px;
$fs-mobile-h3: 25px;
$fs-mobile-p: 18px;

$fs-h1: 80px;
$fs-h2: 56px;
$fs-h3: 28px;
$fs-p: 20px;

// margin text
$mt-80px: 80px;
$mt-72px: 72px;
$mt-56px: 56px;
$mt-51px: 51px;
$mt-28px: 28px;
$mt-25px: 25px;
$mt-20px: 20px;
$mt-18px: 18px;

// line height
$lineHeight: 140%;
